* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    /* background-color: rgb(255, 158, 158); */
    font-size: 100px;
    box-sizing: content-box;
    border: 1px solid black;
    padding: 100px;
    margin-bottom: 10px;
    font-width: 500px;
}

#wrapper {
    /* background: linear-gradient(to right,red,blue); */
    /* background: linear-gradient(45deg,red,blue,yellow,pink,green); */

    /* background: radial-gradient(circle,red,green); */
     /* background: conic-gradient(red,yellow,green); */

    /* background-image: url(WhatsApp\ Image\ 2026-07-08\ at\ 1.13.06\ PM.jpeg);
     */
    /* border: 1px solid black; */
    /* background-repeat: no-repeat; */
    /* background-position: bottom; */
    /* background-size: contain; */

    /* border-width: 10px;
    border-style: solid;
    border-color: red;

    border: 2px solid navy; */

    border: 10px groove blueviolet;
    padding: 230px;
/* 
    height:500px; */

    margin: 40px;

    width: 1000px;;
    /* box-sizing: border-box; */
}
p{
  /* padding: 40px; */
  /* padding-bottom: 40px; */
  /* padding-left: 70px; */

  border: 1px solid red;
  /* padding: 0px  40px 0px 40px; */
  padding: 40px 0px 10px;


}

.red-border {
     border: 1px solid red;
}
#daisy {
    margin: auto;
    text-align: center;
}

#mahi {
    width: 100px;
    margin: auto;
}

span {
    display: inline-block;
    /* margin-bottom: 40px; */
     /* /* margin: auto; */
     width: 50px;
     height: 50px;

}
#bholu {
    /* padding: 40px; */
    border: 2px solid black;

}