#aditya {
    font-family:"Yuyu";
}

#lakshya {
    font-size: 50px;
    letter-spacing: 30px;
    text-shadow: -1px -1px 10px red;
}

p {
    font-size: 24px;
    font-weight: bolder;
     text-indent: 100px;

}
#anu {
    font-style: italic;
    font-variant: small-caps;
    line-height: 1.5;
    letter-spacing: 1px;
    word-spacing: 30px;

}

.yuyu-regular {
  font-family: "Yuyu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#vikas {
    text-align: end;
    border: 1px solid red;
}

#nilesh {
    /* text-align: center;
    text-decoration: underline dotted;
    text-decoration: line-through;
    text-decoration: overline; */
    /* text-decoration: underline wavy; */

    /* text-transform: capitalize;    
    text-transform: lowercase;    
    text-transform: uppercase;     */

    text-indent: 100px;
    

}

em {
    font-style: normal;
}

#color {
    color: red;
    color: #0000ff;
    color: #b7a52e;
    color: rgb(189, 110, 110);
    color: rgba(64, 0, 255, 0.719);
    color: rgba(255, 0, 72, 0.542);

    color: hsl(360, 100% ,50%);
    color: hsl(360, 100% ,50% ,.5);
    background-color: rgb(227, 178, 178);
}

